/*-------------------------------------------
   Line Awesome - regular
   Icons (c) Line Awesome / Icons8 (icons8.com/line-awesome)
   License: MIT / Good Boy License (free for personal & commercial use)
   https://github.com/icons8/line-awesome
-------------------------------------------*/

@font-face {
  font-family: 'Line Awesome Free';
  src: url('la-regular-400.woff2') format('woff2'),
       url('la-regular-400.woff') format('woff'),
       url('la-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.lar {
  font-family: 'Line Awesome Free';
  font-weight: 400;
  font-style: normal;
  speak: never;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.la-address-book:before { content: "\f2b9"; }
.la-address-book-o:before { content: "\f2b9"; }
.la-address-card:before { content: "\f2bb"; }
.la-address-card-o:before { content: "\f2bb"; }
.la-angry:before { content: "\f556"; }
.la-arrow-alt-circle-down:before { content: "\f358"; }
.la-arrow-alt-circle-left:before { content: "\f359"; }
.la-arrow-alt-circle-right:before { content: "\f35a"; }
.la-arrow-alt-circle-up:before { content: "\f35b"; }
.la-arrow-circle-o-down:before { content: "\f358"; }
.la-arrow-circle-o-left:before { content: "\f359"; }
.la-arrow-circle-o-right:before { content: "\f35a"; }
.la-arrow-circle-o-up:before { content: "\f35b"; }
.la-bar-chart:before { content: "\f080"; }
.la-bar-chart-o:before { content: "\f080"; }
.la-bell:before { content: "\f0f3"; }
.la-bell-o:before { content: "\f0f3"; }
.la-bell-slash:before { content: "\f1f6"; }
.la-bell-slash-o:before { content: "\f1f6"; }
.la-bookmark:before { content: "\f02e"; }
.la-bookmark-o:before { content: "\f02e"; }
.la-building:before { content: "\f1ad"; }
.la-building-o:before { content: "\f1ad"; }
.la-calendar:before { content: "\f073"; }
.la-calendar-alt:before { content: "\f073"; }
.la-calendar-check:before { content: "\f274"; }
.la-calendar-check-o:before { content: "\f274"; }
.la-calendar-minus:before { content: "\f272"; }
.la-calendar-minus-o:before { content: "\f272"; }
.la-calendar-o:before { content: "\f133"; }
.la-calendar-plus:before { content: "\f271"; }
.la-calendar-plus-o:before { content: "\f271"; }
.la-calendar-times:before { content: "\f273"; }
.la-calendar-times-o:before { content: "\f273"; }
.la-caret-square-down:before { content: "\f150"; }
.la-caret-square-left:before { content: "\f191"; }
.la-caret-square-o-down:before { content: "\f150"; }
.la-caret-square-o-left:before { content: "\f191"; }
.la-caret-square-o-right:before { content: "\f152"; }
.la-caret-square-o-up:before { content: "\f151"; }
.la-caret-square-right:before { content: "\f152"; }
.la-caret-square-up:before { content: "\f151"; }
.la-cc:before { content: "\f20a"; }
.la-chart-bar:before { content: "\f080"; }
.la-check-circle:before { content: "\f058"; }
.la-check-circle-o:before { content: "\f058"; }
.la-check-square:before { content: "\f14a"; }
.la-check-square-o:before { content: "\f14a"; }
.la-circle:before { content: "\f111"; }
.la-circle-o:before { content: "\f111"; }
.la-circle-thin:before { content: "\f111"; }
.la-clipboard:before { content: "\f328"; }
.la-clock:before { content: "\f017"; }
.la-clock-o:before { content: "\f017"; }
.la-clone:before { content: "\f24d"; }
.la-closed-captioning:before { content: "\f20a"; }
.la-comment:before { content: "\f075"; }
.la-comment-alt:before { content: "\f27a"; }
.la-comment-dots:before { content: "\f4ad"; }
.la-comment-o:before { content: "\f075"; }
.la-commenting:before { content: "\f4ad"; }
.la-commenting-o:before { content: "\f4ad"; }
.la-comments:before { content: "\f086"; }
.la-comments-o:before { content: "\f086"; }
.la-compass:before { content: "\f14e"; }
.la-copy:before { content: "\f0c5"; }
.la-copyright:before { content: "\f1f9"; }
.la-credit-card:before { content: "\f09d"; }
.la-credit-card-alt:before { content: "\f09d"; }
.la-diamond:before { content: "\f3a5"; }
.la-dizzy:before { content: "\f567"; }
.la-dot-circle:before { content: "\f192"; }
.la-dot-circle-o:before { content: "\f192"; }
.la-drivers-license:before { content: "\f2c2"; }
.la-drivers-license-o:before { content: "\f2c2"; }
.la-edit:before { content: "\f044"; }
.la-envelope:before { content: "\f0e0"; }
.la-envelope-o:before { content: "\f0e0"; }
.la-envelope-open:before { content: "\f2b6"; }
.la-envelope-open-o:before { content: "\f2b6"; }
.la-eye:before { content: "\f06e"; }
.la-eye-slash:before { content: "\f070"; }
.la-file:before { content: "\f15b"; }
.la-file-alt:before { content: "\f15c"; }
.la-file-archive:before { content: "\f1c6"; }
.la-file-archive-o:before { content: "\f1c6"; }
.la-file-audio:before { content: "\f1c7"; }
.la-file-audio-o:before { content: "\f1c7"; }
.la-file-code:before { content: "\f1c9"; }
.la-file-code-o:before { content: "\f1c9"; }
.la-file-excel:before { content: "\f1c3"; }
.la-file-excel-o:before { content: "\f1c3"; }
.la-file-image:before { content: "\f1c5"; }
.la-file-image-o:before { content: "\f1c5"; }
.la-file-movie-o:before { content: "\f1c8"; }
.la-file-o:before { content: "\f15b"; }
.la-file-pdf:before { content: "\f1c1"; }
.la-file-pdf-o:before { content: "\f1c1"; }
.la-file-photo-o:before { content: "\f1c5"; }
.la-file-picture-o:before { content: "\f1c5"; }
.la-file-powerpoint:before { content: "\f1c4"; }
.la-file-powerpoint-o:before { content: "\f1c4"; }
.la-file-sound-o:before { content: "\f1c7"; }
.la-file-text:before { content: "\f15c"; }
.la-file-text-o:before { content: "\f15c"; }
.la-file-video:before { content: "\f1c8"; }
.la-file-video-o:before { content: "\f1c8"; }
.la-file-word:before { content: "\f1c2"; }
.la-file-word-o:before { content: "\f1c2"; }
.la-file-zip-o:before { content: "\f1c6"; }
.la-files-o:before { content: "\f0c5"; }
.la-flag:before { content: "\f024"; }
.la-flag-o:before { content: "\f024"; }
.la-floppy-o:before { content: "\f0c7"; }
.la-flushed:before { content: "\f579"; }
.la-folder:before { content: "\f07b"; }
.la-folder-o:before { content: "\f07b"; }
.la-folder-open:before { content: "\f07c"; }
.la-folder-open-o:before { content: "\f07c"; }
.la-frown:before { content: "\f119"; }
.la-frown-o:before { content: "\f119"; }
.la-frown-open:before { content: "\f57a"; }
.la-futbol:before { content: "\f1e3"; }
.la-futbol-o:before { content: "\f1e3"; }
.la-gem:before { content: "\f3a5"; }
.la-grimace:before { content: "\f57f"; }
.la-grin:before { content: "\f580"; }
.la-grin-alt:before { content: "\f581"; }
.la-grin-beam:before { content: "\f582"; }
.la-grin-beam-sweat:before { content: "\f583"; }
.la-grin-hearts:before { content: "\f584"; }
.la-grin-squint:before { content: "\f585"; }
.la-grin-squint-tears:before { content: "\f586"; }
.la-grin-stars:before { content: "\f587"; }
.la-grin-tears:before { content: "\f588"; }
.la-grin-tongue:before { content: "\f589"; }
.la-grin-tongue-squint:before { content: "\f58a"; }
.la-grin-tongue-wink:before { content: "\f58b"; }
.la-grin-wink:before { content: "\f58c"; }
.la-hand-grab-o:before { content: "\f255"; }
.la-hand-lizard:before { content: "\f258"; }
.la-hand-lizard-o:before { content: "\f258"; }
.la-hand-o-down:before { content: "\f0a7"; }
.la-hand-o-left:before { content: "\f0a5"; }
.la-hand-o-right:before { content: "\f0a4"; }
.la-hand-o-up:before { content: "\f0a6"; }
.la-hand-paper:before { content: "\f256"; }
.la-hand-paper-o:before { content: "\f256"; }
.la-hand-peace:before { content: "\f25b"; }
.la-hand-peace-o:before { content: "\f25b"; }
.la-hand-point-down:before { content: "\f0a7"; }
.la-hand-point-left:before { content: "\f0a5"; }
.la-hand-point-right:before { content: "\f0a4"; }
.la-hand-point-up:before { content: "\f0a6"; }
.la-hand-pointer:before { content: "\f25a"; }
.la-hand-pointer-o:before { content: "\f25a"; }
.la-hand-rock:before { content: "\f255"; }
.la-hand-rock-o:before { content: "\f255"; }
.la-hand-scissors:before { content: "\f257"; }
.la-hand-scissors-o:before { content: "\f257"; }
.la-hand-spock:before { content: "\f259"; }
.la-hand-spock-o:before { content: "\f259"; }
.la-hand-stop-o:before { content: "\f256"; }
.la-handshake:before { content: "\f2b5"; }
.la-handshake-o:before { content: "\f2b5"; }
.la-hdd:before { content: "\f0a0"; }
.la-hdd-o:before { content: "\f0a0"; }
.la-heart:before { content: "\f004"; }
.la-heart-o:before { content: "\f004"; }
.la-hospital:before { content: "\f0f8"; }
.la-hospital-o:before { content: "\f0f8"; }
.la-hourglass:before { content: "\f254"; }
.la-hourglass-o:before { content: "\f254"; }
.la-id-badge:before { content: "\f2c1"; }
.la-id-card:before { content: "\f2c2"; }
.la-id-card-o:before { content: "\f2c2"; }
.la-image:before { content: "\f03e"; }
.la-images:before { content: "\f302"; }
.la-keyboard:before { content: "\f11c"; }
.la-keyboard-o:before { content: "\f11c"; }
.la-kiss:before { content: "\f596"; }
.la-kiss-beam:before { content: "\f597"; }
.la-kiss-wink-heart:before { content: "\f598"; }
.la-laugh:before { content: "\f599"; }
.la-laugh-beam:before { content: "\f59a"; }
.la-laugh-squint:before { content: "\f59b"; }
.la-laugh-wink:before { content: "\f59c"; }
.la-lemon:before { content: "\f094"; }
.la-lemon-o:before { content: "\f094"; }
.la-life-bouy:before { content: "\f1cd"; }
.la-life-buoy:before { content: "\f1cd"; }
.la-life-ring:before { content: "\f1cd"; }
.la-life-saver:before { content: "\f1cd"; }
.la-lightbulb:before { content: "\f0eb"; }
.la-lightbulb-o:before { content: "\f0eb"; }
.la-list-alt:before { content: "\f022"; }
.la-map:before { content: "\f279"; }
.la-map-o:before { content: "\f279"; }
.la-meh:before { content: "\f11a"; }
.la-meh-blank:before { content: "\f5a4"; }
.la-meh-o:before { content: "\f11a"; }
.la-meh-rolling-eyes:before { content: "\f5a5"; }
.la-minus-square:before { content: "\f146"; }
.la-minus-square-o:before { content: "\f146"; }
.la-money:before { content: "\f3d1"; }
.la-money-bill-alt:before { content: "\f3d1"; }
.la-moon:before { content: "\f186"; }
.la-moon-o:before { content: "\f186"; }
.la-newspaper:before { content: "\f1ea"; }
.la-newspaper-o:before { content: "\f1ea"; }
.la-object-group:before { content: "\f247"; }
.la-object-ungroup:before { content: "\f248"; }
.la-paper-plane:before { content: "\f1d8"; }
.la-paper-plane-o:before { content: "\f1d8"; }
.la-paste:before { content: "\f328"; }
.la-pause-circle:before { content: "\f28b"; }
.la-pause-circle-o:before { content: "\f28b"; }
.la-pencil-square-o:before { content: "\f044"; }
.la-photo:before { content: "\f03e"; }
.la-picture-o:before { content: "\f03e"; }
.la-play-circle:before { content: "\f144"; }
.la-play-circle-o:before { content: "\f144"; }
.la-plus-square:before { content: "\f0fe"; }
.la-plus-square-o:before { content: "\f0fe"; }
.la-question-circle:before { content: "\f059"; }
.la-question-circle-o:before { content: "\f059"; }
.la-registered:before { content: "\f25d"; }
.la-sad-cry:before { content: "\f5b3"; }
.la-sad-tear:before { content: "\f5b4"; }
.la-save:before { content: "\f0c7"; }
.la-send:before { content: "\f1d8"; }
.la-send-o:before { content: "\f1d8"; }
.la-share-square:before { content: "\f14d"; }
.la-share-square-o:before { content: "\f14d"; }
.la-smile:before { content: "\f118"; }
.la-smile-beam:before { content: "\f5b8"; }
.la-smile-o:before { content: "\f118"; }
.la-smile-wink:before { content: "\f4da"; }
.la-snowflake:before { content: "\f2dc"; }
.la-snowflake-o:before { content: "\f2dc"; }
.la-soccer-ball-o:before { content: "\f1e3"; }
.la-square:before { content: "\f0c8"; }
.la-square-o:before { content: "\f0c8"; }
.la-star:before { content: "\f005"; }
.la-star-half:before { content: "\f089"; }
.la-star-half-empty:before { content: "\f089"; }
.la-star-half-full:before { content: "\f089"; }
.la-star-half-o:before { content: "\f089"; }
.la-star-o:before { content: "\f005"; }
.la-sticky-note:before { content: "\f249"; }
.la-sticky-note-o:before { content: "\f249"; }
.la-stop-circle:before { content: "\f28d"; }
.la-stop-circle-o:before { content: "\f28d"; }
.la-sun:before { content: "\f185"; }
.la-sun-o:before { content: "\f185"; }
.la-support:before { content: "\f1cd"; }
.la-surprise:before { content: "\f5c2"; }
.la-thumbs-down:before { content: "\f165"; }
.la-thumbs-o-down:before { content: "\f165"; }
.la-thumbs-o-up:before { content: "\f164"; }
.la-thumbs-up:before { content: "\f164"; }
.la-times-circle:before { content: "\f057"; }
.la-times-circle-o:before { content: "\f057"; }
.la-times-rectangle:before { content: "\f410"; }
.la-times-rectangle-o:before { content: "\f410"; }
.la-tired:before { content: "\f5c8"; }
.la-toggle-down:before { content: "\f150"; }
.la-toggle-left:before { content: "\f191"; }
.la-toggle-right:before { content: "\f152"; }
.la-toggle-up:before { content: "\f151"; }
.la-trash:before { content: "\f2ed"; }
.la-trash-alt:before { content: "\f2ed"; }
.la-trash-o:before { content: "\f2ed"; }
.la-user:before { content: "\f007"; }
.la-user-circle:before { content: "\f2bd"; }
.la-user-circle-o:before { content: "\f2bd"; }
.la-user-o:before { content: "\f007"; }
.la-vcard:before { content: "\f2bb"; }
.la-vcard-o:before { content: "\f2bb"; }
.la-window-close:before { content: "\f410"; }
.la-window-close-o:before { content: "\f410"; }
.la-window-maximize:before { content: "\f2d0"; }
.la-window-minimize:before { content: "\f2d1"; }
.la-window-restore:before { content: "\f2d2"; }
