/*-------------------------------------------
   Iconsax (Linear / free style) icon font
   Icon designs (c) Vuesax / iconsax.io - Iconsax Free License
   Font build credit: fontello.com + oslllo-svg-fixer (via glenthemes/iconsax)
   Repackaged for use as an Elementor custom icon library.
-------------------------------------------*/

@font-face {
  font-family: 'iconsax';
  src: url('iconsax.woff2') format('woff2'),
       url('iconsax.woff') format('woff'),
       url('iconsax.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconsax {
  font-family: 'iconsax' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsax-24hr-service:before { content: '\eb12'; }
.iconsax-3d-cube:before { content: '\e858'; }
.iconsax-activity-chart:before { content: '\e969'; }
.iconsax-activity-chart-favorite:before { content: '\e84e'; }
.iconsax-activity-square:before { content: '\e88a'; }
.iconsax-add:before { content: '\e9d0'; }
.iconsax-add-circle:before { content: '\e887'; }
.iconsax-add-layer:before { content: '\eb3e'; }
.iconsax-add-square:before { content: '\ea5a'; }
.iconsax-airdrop:before { content: '\e9fc'; }
.iconsax-airplane:before { content: '\e83b'; }
.iconsax-airplane-square:before { content: '\e966'; }
.iconsax-airpod:before { content: '\e971'; }
.iconsax-airpods:before { content: '\eae2'; }
.iconsax-alarm:before { content: '\e81f'; }
.iconsax-align-bottom:before { content: '\e9f8'; }
.iconsax-align-left:before { content: '\e804'; }
.iconsax-align-right:before { content: '\e9ad'; }
.iconsax-align-top:before { content: '\eaf8'; }
.iconsax-align-x-center:before { content: '\ea6a'; }
.iconsax-align-y-center:before { content: '\e9b6'; }
.iconsax-aquarius:before { content: '\eb42'; }
.iconsax-archive-book:before { content: '\e9f6'; }
.iconsax-archive-closed:before { content: '\e81d'; }
.iconsax-archive-open:before { content: '\ea77'; }
.iconsax-arrow-down:before { content: '\e81b'; }
.iconsax-arrow-down-circle:before { content: '\e85e'; }
.iconsax-arrow-down-thick-1:before { content: '\e9f5'; }
.iconsax-arrow-down-thick-3:before { content: '\e93b'; }
.iconsax-arrow-left:before { content: '\e87f'; }
.iconsax-arrow-left-circle:before { content: '\e929'; }
.iconsax-arrow-left-thick-1:before { content: '\e91d'; }
.iconsax-arrow-left-thick-3:before { content: '\e92a'; }
.iconsax-arrow-right:before { content: '\ea95'; }
.iconsax-arrow-right-circle:before { content: '\e991'; }
.iconsax-arrow-right-thick-1:before { content: '\eaee'; }
.iconsax-arrow-right-thick-2:before { content: '\e8a0'; }
.iconsax-arrow-right-thick-3:before { content: '\e952'; }
.iconsax-arrow-up:before { content: '\e89a'; }
.iconsax-arrow-up-circle:before { content: '\eaf9'; }
.iconsax-arrow-up-down:before { content: '\eadf'; }
.iconsax-arrow-up-thick-1:before { content: '\ea64'; }
.iconsax-arrow-up-thick-3:before { content: '\eb1b'; }
.iconsax-auto-brightness:before { content: '\e947'; }
.iconsax-award:before { content: '\e986'; }
.iconsax-award-2:before { content: '\e883'; }
.iconsax-award-3:before { content: '\ea30'; }
.iconsax-background-layer:before { content: '\e807'; }
.iconsax-backspace:before { content: '\e95e'; }
.iconsax-bank:before { content: '\e8dd'; }
.iconsax-bank-card:before { content: '\e9e1'; }
.iconsax-bank-card-add:before { content: '\e816'; }
.iconsax-bank-card-convert:before { content: '\ea2b'; }
.iconsax-bank-card-diagonal:before { content: '\ea55'; }
.iconsax-bank-card-receive:before { content: '\eb31'; }
.iconsax-bank-card-send:before { content: '\eb62'; }
.iconsax-bank-card-slash:before { content: '\e9a9'; }
.iconsax-bank-card-tick-1:before { content: '\eb21'; }
.iconsax-bank-card-tick-2:before { content: '\e809'; }
.iconsax-bank-card-x-1:before { content: '\e8e6'; }
.iconsax-bank-card-x-2:before { content: '\ea21'; }
.iconsax-bank-cards:before { content: '\e821'; }
.iconsax-bar-graph-1:before { content: '\ea8f'; }
.iconsax-bar-graph-2:before { content: '\eac6'; }
.iconsax-bar-graph-3:before { content: '\eb46'; }
.iconsax-bar-graph-4:before { content: '\ea80'; }
.iconsax-bar-graph-5:before { content: '\e9b0'; }
.iconsax-barcode:before { content: '\e964'; }
.iconsax-basket-1:before { content: '\e9ba'; }
.iconsax-basket-2:before { content: '\eab2'; }
.iconsax-basket-3:before { content: '\eab4'; }
.iconsax-basket-happy:before { content: '\eb16'; }
.iconsax-basket-tick-1:before { content: '\eb8a'; }
.iconsax-basket-tick-2:before { content: '\e9bf'; }
.iconsax-basket-time:before { content: '\e90a'; }
.iconsax-basket-x:before { content: '\e909'; }
.iconsax-basket-x-1:before { content: '\e9c6'; }
.iconsax-battery-1:before { content: '\ea2c'; }
.iconsax-battery-2:before { content: '\e9de'; }
.iconsax-battery-charging:before { content: '\ea4f'; }
.iconsax-battery-disable:before { content: '\eb74'; }
.iconsax-battery-empty:before { content: '\e950'; }
.iconsax-battery-full:before { content: '\ea06'; }
.iconsax-bell-1:before { content: '\eb5a'; }
.iconsax-bell-2:before { content: '\e80d'; }
.iconsax-bell-3:before { content: '\e9a7'; }
.iconsax-bezier:before { content: '\e825'; }
.iconsax-bill:before { content: '\e95f'; }
.iconsax-birdhouse:before { content: '\e8da'; }
.iconsax-blend-1:before { content: '\e860'; }
.iconsax-blend-2:before { content: '\e82d'; }
.iconsax-bluetooth:before { content: '\e9f3'; }
.iconsax-bluetooth-2:before { content: '\e8fa'; }
.iconsax-bluetooth-circle:before { content: '\ea05'; }
.iconsax-bluetooth-rectangle:before { content: '\e8b4'; }
.iconsax-blur:before { content: '\eb06'; }
.iconsax-bold:before { content: '\ea83'; }
.iconsax-book-closed:before { content: '\ea44'; }
.iconsax-book-open:before { content: '\e9cd'; }
.iconsax-book-square:before { content: '\eae5'; }
.iconsax-book-with-bookmark:before { content: '\ea7d'; }
.iconsax-bookmark-add:before { content: '\e9d8'; }
.iconsax-bookmark-minus:before { content: '\eb69'; }
.iconsax-bookmark-minus-2:before { content: '\e9ea'; }
.iconsax-bookmark-slash:before { content: '\e955'; }
.iconsax-bookmark-tick:before { content: '\e9d5'; }
.iconsax-bookmarks:before { content: '\ea1b'; }
.iconsax-bookmarks-add:before { content: '\e83e'; }
.iconsax-bookmarks-minus:before { content: '\eabe'; }
.iconsax-bookmarks-x:before { content: '\ea1a'; }
.iconsax-bounding-box:before { content: '\eb2d'; }
.iconsax-bounding-circle:before { content: '\e981'; }
.iconsax-box:before { content: '\ea57'; }
.iconsax-box-add:before { content: '\e9b4'; }
.iconsax-box-dashed:before { content: '\ea96'; }
.iconsax-box-rotate:before { content: '\ea92'; }
.iconsax-box-scan:before { content: '\e817'; }
.iconsax-box-search:before { content: '\e984'; }
.iconsax-box-square:before { content: '\e838'; }
.iconsax-box-swap:before { content: '\ea2f'; }
.iconsax-box-tick:before { content: '\e863'; }
.iconsax-box-time:before { content: '\e889'; }
.iconsax-box-x:before { content: '\eab9'; }
.iconsax-briefcase:before { content: '\eafb'; }
.iconsax-briefcase-tick:before { content: '\e951'; }
.iconsax-briefcase-time:before { content: '\eb6d'; }
.iconsax-briefcase-x:before { content: '\eb09'; }
.iconsax-broom:before { content: '\e97a'; }
.iconsax-brush-1:before { content: '\eb1c'; }
.iconsax-brush-2:before { content: '\eaed'; }
.iconsax-brush-3:before { content: '\e9ff'; }
.iconsax-brush-4:before { content: '\ea94'; }
.iconsax-brush-5:before { content: '\eacc'; }
.iconsax-brush-tools:before { content: '\e8e2'; }
.iconsax-bubbles:before { content: '\e925'; }
.iconsax-building-1:before { content: '\e875'; }
.iconsax-building-2:before { content: '\e826'; }
.iconsax-building-3:before { content: '\e8ca'; }
.iconsax-building-4:before { content: '\e845'; }
.iconsax-buildings-1:before { content: '\eab6'; }
.iconsax-buildings-2:before { content: '\eb60'; }
.iconsax-bulb:before { content: '\eaa4'; }
.iconsax-bulb-charge:before { content: '\e880'; }
.iconsax-bulb-slash:before { content: '\e82e'; }
.iconsax-bus:before { content: '\e92d'; }
.iconsax-cake:before { content: '\ea32'; }
.iconsax-calculator:before { content: '\e83a'; }
.iconsax-calendar-1:before { content: '\e881'; }
.iconsax-calendar-2:before { content: '\ead1'; }
.iconsax-calendar-3:before { content: '\eaff'; }
.iconsax-calendar-add:before { content: '\eaf7'; }
.iconsax-calendar-circle:before { content: '\eae7'; }
.iconsax-calendar-edit:before { content: '\e9ab'; }
.iconsax-calendar-search:before { content: '\eaf4'; }
.iconsax-calendar-tick:before { content: '\ea8b'; }
.iconsax-calendar-x:before { content: '\e802'; }
.iconsax-camera:before { content: '\e94e'; }
.iconsax-camera-slash:before { content: '\eb10'; }
.iconsax-car:before { content: '\e8a7'; }
.iconsax-card-coin:before { content: '\eb5f'; }
.iconsax-card-edit:before { content: '\eb17'; }
.iconsax-cast:before { content: '\e9fb'; }
.iconsax-cd:before { content: '\e90e'; }
.iconsax-change-shape-1:before { content: '\eb05'; }
.iconsax-change-shape-2:before { content: '\eb92'; }
.iconsax-chart-square:before { content: '\ea4d'; }
.iconsax-chart-tick:before { content: '\ea02'; }
.iconsax-chart-x:before { content: '\ea76'; }
.iconsax-chevron-down:before { content: '\eb75'; }
.iconsax-chevron-down-circle:before { content: '\e906'; }
.iconsax-chevron-down-square:before { content: '\e89e'; }
.iconsax-chevron-left:before { content: '\e8ec'; }
.iconsax-chevron-left-circle:before { content: '\ea20'; }
.iconsax-chevron-left-square:before { content: '\eb57'; }
.iconsax-chevron-right:before { content: '\e9c4'; }
.iconsax-chevron-right-circle:before { content: '\e9d9'; }
.iconsax-chevron-right-square:before { content: '\eaad'; }
.iconsax-chevron-up:before { content: '\eacd'; }
.iconsax-chevron-up-circle:before { content: '\e8dc'; }
.iconsax-chevron-up-square:before { content: '\eb8d'; }
.iconsax-chrome:before { content: '\e83d'; }
.iconsax-circle:before { content: '\ea0c'; }
.iconsax-clipboard:before { content: '\e814'; }
.iconsax-clipboard-in:before { content: '\e90d'; }
.iconsax-clipboard-out:before { content: '\e870'; }
.iconsax-clipboard-text-1:before { content: '\e805'; }
.iconsax-clipboard-text-2:before { content: '\ea68'; }
.iconsax-clipboard-tick:before { content: '\eb29'; }
.iconsax-clipboard-x:before { content: '\eb82'; }
.iconsax-clock:before { content: '\e8a3'; }
.iconsax-cloud:before { content: '\e86c'; }
.iconsax-cloud-add:before { content: '\eaef'; }
.iconsax-cloud-change:before { content: '\e97d'; }
.iconsax-cloud-connection:before { content: '\e8b6'; }
.iconsax-cloud-fog:before { content: '\e9c7'; }
.iconsax-cloud-lightning:before { content: '\e9a0'; }
.iconsax-cloud-minus:before { content: '\e92e'; }
.iconsax-cloud-notif:before { content: '\ea5b'; }
.iconsax-cloud-rain:before { content: '\eaac'; }
.iconsax-cloud-snow:before { content: '\ea84'; }
.iconsax-cloud-sunny:before { content: '\e907'; }
.iconsax-cloud-tick:before { content: '\e945'; }
.iconsax-cloud-x-1:before { content: '\e9b1'; }
.iconsax-cloud-x-circle:before { content: '\ea04'; }
.iconsax-code-1:before { content: '\ea6f'; }
.iconsax-code-2:before { content: '\ea34'; }
.iconsax-code-circle:before { content: '\e9d4'; }
.iconsax-code-clipboard:before { content: '\eae4'; }
.iconsax-code-tag:before { content: '\e8bd'; }
.iconsax-coffee:before { content: '\ea37'; }
.iconsax-coins-2:before { content: '\e985'; }
.iconsax-coins-3:before { content: '\eaa6'; }
.iconsax-coins-4:before { content: '\e96c'; }
.iconsax-color-filter:before { content: '\e8f2'; }
.iconsax-color-filter-square:before { content: '\e867'; }
.iconsax-color-swatch:before { content: '\e81c'; }
.iconsax-columns:before { content: '\ea85'; }
.iconsax-command:before { content: '\e8c7'; }
.iconsax-command-square:before { content: '\e99a'; }
.iconsax-compass-1:before { content: '\e839'; }
.iconsax-compass-2:before { content: '\ea59'; }
.iconsax-component:before { content: '\e84f'; }
.iconsax-convert:before { content: '\e954'; }
.iconsax-copy:before { content: '\e9c1'; }
.iconsax-copy-tick:before { content: '\e81e'; }
.iconsax-copyright:before { content: '\eb24'; }
.iconsax-courthouse:before { content: '\e8bf'; }
.iconsax-cpu:before { content: '\ea13'; }
.iconsax-cpu-charge:before { content: '\e866'; }
.iconsax-cpu-setting:before { content: '\eacf'; }
.iconsax-creative-commons:before { content: '\eb0d'; }
.iconsax-crop:before { content: '\eb01'; }
.iconsax-crown-1:before { content: '\e97b'; }
.iconsax-crown-2:before { content: '\e992'; }
.iconsax-cue-cards:before { content: '\eaa5'; }
.iconsax-cursor-circle:before { content: '\e960'; }
.iconsax-cursor-circle-1:before { content: '\e900'; }
.iconsax-cursor-square:before { content: '\ead7'; }
.iconsax-cursor-square-1:before { content: '\e9e4'; }
.iconsax-devices-1:before { content: '\ead9'; }
.iconsax-devices-2:before { content: '\eadd'; }
.iconsax-diamonds:before { content: '\e868'; }
.iconsax-directions:before { content: '\eb35'; }
.iconsax-directions-square:before { content: '\eb2b'; }
.iconsax-discount-badge:before { content: '\ead8'; }
.iconsax-discount-circle:before { content: '\e942'; }
.iconsax-dislike:before { content: '\eaa8'; }
.iconsax-document-1:before { content: '\ea12'; }
.iconsax-document-2:before { content: '\ea03'; }
.iconsax-document-cloud:before { content: '\e99b'; }
.iconsax-document-code-1:before { content: '\e9ce'; }
.iconsax-document-code-2:before { content: '\e9e3'; }
.iconsax-document-copy:before { content: '\e98a'; }
.iconsax-document-download:before { content: '\e937'; }
.iconsax-document-favorite:before { content: '\eb45'; }
.iconsax-document-favorite-1:before { content: '\ea14'; }
.iconsax-document-filter:before { content: '\e856'; }
.iconsax-document-forward:before { content: '\eb3f'; }
.iconsax-document-previous:before { content: '\ea1e'; }
.iconsax-document-sketch:before { content: '\e82a'; }
.iconsax-document-text-1:before { content: '\eb53'; }
.iconsax-document-text-2:before { content: '\e94f'; }
.iconsax-document-upload:before { content: '\e89c'; }
.iconsax-dollar-circle:before { content: '\eb19'; }
.iconsax-dollar-square:before { content: '\e91c'; }
.iconsax-download-1:before { content: '\eb8e'; }
.iconsax-download-2:before { content: '\ea69'; }
.iconsax-download-square:before { content: '\ea89'; }
.iconsax-driver-1:before { content: '\eb85'; }
.iconsax-driver-2:before { content: '\ea8e'; }
.iconsax-driver-refresh:before { content: '\eaa7'; }
.iconsax-driving:before { content: '\e96d'; }
.iconsax-drop:before { content: '\e848'; }
.iconsax-earphones:before { content: '\e824'; }
.iconsax-edit-1:before { content: '\e8ff'; }
.iconsax-edit-2:before { content: '\eb28'; }
.iconsax-emoji-happy:before { content: '\ea19'; }
.iconsax-emoji-normal:before { content: '\e8f6'; }
.iconsax-emoji-sad:before { content: '\e936'; }
.iconsax-eraser:before { content: '\e91a'; }
.iconsax-eraser-square:before { content: '\eb7e'; }
.iconsax-external-circle:before { content: '\e8ef'; }
.iconsax-external-drive:before { content: '\e88e'; }
.iconsax-external-square:before { content: '\e8ed'; }
.iconsax-eye:before { content: '\e8b9'; }
.iconsax-eye-slash:before { content: '\e978'; }
.iconsax-female:before { content: '\e8e0'; }
.iconsax-filter:before { content: '\e888'; }
.iconsax-filter-add:before { content: '\e9f9'; }
.iconsax-filter-edit:before { content: '\e970'; }
.iconsax-filter-search:before { content: '\eab1'; }
.iconsax-filter-square:before { content: '\e88d'; }
.iconsax-filter-tick:before { content: '\eac3'; }
.iconsax-filter-x:before { content: '\e973'; }
.iconsax-fingerprint-circle:before { content: '\e8cb'; }
.iconsax-fingerprint-scan:before { content: '\e9ec'; }
.iconsax-first-character:before { content: '\e92c'; }
.iconsax-flag-1:before { content: '\ea2d'; }
.iconsax-flag-2:before { content: '\eb0e'; }
.iconsax-flash-1:before { content: '\e9a6'; }
.iconsax-flash-circle-1:before { content: '\ea25'; }
.iconsax-flash-circle-2:before { content: '\e9d6'; }
.iconsax-flash-slash:before { content: '\e8eb'; }
.iconsax-flash-speed:before { content: '\ea35'; }
.iconsax-flask:before { content: '\e931'; }
.iconsax-flow-chart-1:before { content: '\e87d'; }
.iconsax-flow-chart-2:before { content: '\e800'; }
.iconsax-folder-1:before { content: '\e820'; }
.iconsax-folder-2:before { content: '\e90f'; }
.iconsax-folder-add:before { content: '\e897'; }
.iconsax-folder-cloud:before { content: '\e8ee'; }
.iconsax-folder-connection:before { content: '\e9aa'; }
.iconsax-folder-favorite:before { content: '\ea3c'; }
.iconsax-folder-minus:before { content: '\e944'; }
.iconsax-folder-open:before { content: '\eac7'; }
.iconsax-folder-x:before { content: '\e902'; }
.iconsax-footer:before { content: '\e9d2'; }
.iconsax-foreground-layer:before { content: '\ea7b'; }
.iconsax-game-controller:before { content: '\ea78'; }
.iconsax-gameboy:before { content: '\ea26'; }
.iconsax-gas-station:before { content: '\e87e'; }
.iconsax-gemini:before { content: '\eb67'; }
.iconsax-gemini-2:before { content: '\ea17'; }
.iconsax-ghost:before { content: '\eb71'; }
.iconsax-gift:before { content: '\e8a9'; }
.iconsax-git-arrows:before { content: '\ea8a'; }
.iconsax-git-commit:before { content: '\ea86'; }
.iconsax-git-pull-request:before { content: '\e859'; }
.iconsax-git-pull-request-square:before { content: '\e9b3'; }
.iconsax-glasses:before { content: '\e9f1'; }
.iconsax-globe:before { content: '\e9f2'; }
.iconsax-globe-edit:before { content: '\ea61'; }
.iconsax-globe-refresh:before { content: '\e8d5'; }
.iconsax-globe-search:before { content: '\ea7c'; }
.iconsax-gps:before { content: '\ea29'; }
.iconsax-gps-slash:before { content: '\eb4b'; }
.iconsax-grammarly:before { content: '\ea62'; }
.iconsax-grid-apps:before { content: '\e91f'; }
.iconsax-grid-apps-2:before { content: '\ea07'; }
.iconsax-grid-apps-add:before { content: '\e812'; }
.iconsax-grid-apps-equals:before { content: '\e918'; }
.iconsax-grid-lock:before { content: '\e996'; }
.iconsax-grid-quadrants:before { content: '\ea0a'; }
.iconsax-grid-table:before { content: '\ea41'; }
.iconsax-grid-table-edit:before { content: '\ea45'; }
.iconsax-grid-table-eraser:before { content: '\e92f'; }
.iconsax-grid-uneven:before { content: '\e9d7'; }
.iconsax-group:before { content: '\e9cc'; }
.iconsax-hamburger-menu:before { content: '\e847'; }
.iconsax-hashtag:before { content: '\e9af'; }
.iconsax-hashtag-down:before { content: '\e949'; }
.iconsax-hashtag-up:before { content: '\e9e5'; }
.iconsax-header:before { content: '\eafc'; }
.iconsax-headphones:before { content: '\e9ef'; }
.iconsax-headphones-active:before { content: '\e8e7'; }
.iconsax-heart:before { content: '\e801'; }
.iconsax-heart-add:before { content: '\e999'; }
.iconsax-heart-circle:before { content: '\eb8b'; }
.iconsax-heart-edit:before { content: '\e86f'; }
.iconsax-heart-monitor-square:before { content: '\eab5'; }
.iconsax-heart-search:before { content: '\eb30'; }
.iconsax-heart-slash:before { content: '\ea40'; }
.iconsax-heart-tag:before { content: '\eb7c'; }
.iconsax-heart-tick:before { content: '\eb6e'; }
.iconsax-heart-x:before { content: '\e8a4'; }
.iconsax-hearts:before { content: '\e87b'; }
.iconsax-hierarchy-1:before { content: '\e8cd'; }
.iconsax-hierarchy-1-square:before { content: '\e9b5'; }
.iconsax-hierarchy-2:before { content: '\eb22'; }
.iconsax-hierarchy-2-square:before { content: '\e9b7'; }
.iconsax-hierarchy-3:before { content: '\eaf3'; }
.iconsax-history:before { content: '\e9b2'; }
.iconsax-home-1:before { content: '\eb26'; }
.iconsax-home-2:before { content: '\e90b'; }
.iconsax-home-shield:before { content: '\e98b'; }
.iconsax-home-trend-down:before { content: '\eae8'; }
.iconsax-home-trend-up:before { content: '\eb33'; }
.iconsax-home-wifi:before { content: '\e8fb'; }
.iconsax-hospital:before { content: '\e9f7'; }
.iconsax-hourglass:before { content: '\e81a'; }
.iconsax-house-1:before { content: '\eb61'; }
.iconsax-house-2:before { content: '\ea22'; }
.iconsax-inbox-1:before { content: '\e80c'; }
.iconsax-inbox-2:before { content: '\e963'; }
.iconsax-inbox-3:before { content: '\e9df'; }
.iconsax-inbox-4:before { content: '\eb8c'; }
.iconsax-inbox-in-1:before { content: '\e974'; }
.iconsax-inbox-in-2:before { content: '\e99d'; }
.iconsax-inbox-notif:before { content: '\e905'; }
.iconsax-inbox-out-1:before { content: '\eaf0'; }
.iconsax-inbox-out-2:before { content: '\e8bb'; }
.iconsax-infinite:before { content: '\e9ed'; }
.iconsax-info-badge:before { content: '\eb54'; }
.iconsax-info-circle:before { content: '\e9ca'; }
.iconsax-instagram:before { content: '\eaa2'; }
.iconsax-italic:before { content: '\eb00'; }
.iconsax-item-rotate-left:before { content: '\ea4c'; }
.iconsax-item-rotate-right:before { content: '\eb32'; }
.iconsax-judge:before { content: '\e8db'; }
.iconsax-kanban:before { content: '\ea6b'; }
.iconsax-key:before { content: '\ea9b'; }
.iconsax-key-square:before { content: '\e9d3'; }
.iconsax-keyboard-1:before { content: '\eac4'; }
.iconsax-keyboard-2:before { content: '\e879'; }
.iconsax-lamp-1:before { content: '\e9a3'; }
.iconsax-lamp-2:before { content: '\eb72'; }
.iconsax-language-circle:before { content: '\eab3'; }
.iconsax-language-square:before { content: '\e8a2'; }
.iconsax-layers-1:before { content: '\e832'; }
.iconsax-layers-2:before { content: '\e9c9'; }
.iconsax-layout-1:before { content: '\e8f5'; }
.iconsax-layout-2:before { content: '\e933'; }
.iconsax-layout-3:before { content: '\e9bc'; }
.iconsax-layout-4:before { content: '\ea81'; }
.iconsax-layout-5:before { content: '\ea5e'; }
.iconsax-layout-6:before { content: '\ea99'; }
.iconsax-layout-7:before { content: '\eabd'; }
.iconsax-layout-8:before { content: '\e93c'; }
.iconsax-layout-half:before { content: '\e917'; }
.iconsax-level:before { content: '\e855'; }
.iconsax-lifebuoy:before { content: '\e8f4'; }
.iconsax-like:before { content: '\e96a'; }
.iconsax-like-badge:before { content: '\e846'; }
.iconsax-like-dislike:before { content: '\eb2c'; }
.iconsax-like-tag:before { content: '\ea27'; }
.iconsax-line-spacing:before { content: '\ea1f'; }
.iconsax-link-1:before { content: '\e99c'; }
.iconsax-link-2:before { content: '\e94c'; }
.iconsax-link-3:before { content: '\e993'; }
.iconsax-link-4:before { content: '\eaa0'; }
.iconsax-link-circle:before { content: '\ea58'; }
.iconsax-link-square:before { content: '\e884'; }
.iconsax-location:before { content: '\e8b1'; }
.iconsax-location-add:before { content: '\eb66'; }
.iconsax-location-minus:before { content: '\e8df'; }
.iconsax-location-slash:before { content: '\eafa'; }
.iconsax-location-tick:before { content: '\eac0'; }
.iconsax-location-x:before { content: '\e982'; }
.iconsax-lock-1:before { content: '\eaba'; }
.iconsax-lock-2:before { content: '\e8d9'; }
.iconsax-lock-circle:before { content: '\e854'; }
.iconsax-lock-slash:before { content: '\eace'; }
.iconsax-login:before { content: '\ea4a'; }
.iconsax-login-2:before { content: '\e836'; }
.iconsax-logout-1:before { content: '\e829'; }
.iconsax-logout-2:before { content: '\eb11'; }
.iconsax-loop:before { content: '\e93e'; }
.iconsax-magic-star:before { content: '\ead5'; }
.iconsax-magic-wand:before { content: '\e8d4'; }
.iconsax-mail:before { content: '\ea73'; }
.iconsax-mail-edit:before { content: '\e903'; }
.iconsax-mail-notif:before { content: '\e946'; }
.iconsax-mail-search:before { content: '\e8de'; }
.iconsax-mail-speed:before { content: '\eb89'; }
.iconsax-mail-star:before { content: '\e914'; }
.iconsax-main-component:before { content: '\e9e7'; }
.iconsax-male:before { content: '\e831'; }
.iconsax-map-1:before { content: '\eb44'; }
.iconsax-map-2:before { content: '\eaeb'; }
.iconsax-map-3:before { content: '\eb56'; }
.iconsax-mask:before { content: '\e97e'; }
.iconsax-mask-1:before { content: '\ea9a'; }
.iconsax-mask-2:before { content: '\eabc'; }
.iconsax-mask-3:before { content: '\ea82'; }
.iconsax-math-1:before { content: '\e850'; }
.iconsax-math-2:before { content: '\e916'; }
.iconsax-maximize:before { content: '\ead3'; }
.iconsax-maximize-1:before { content: '\e930'; }
.iconsax-maximize-2:before { content: '\e9ac'; }
.iconsax-maximize-3:before { content: '\e921'; }
.iconsax-maximize-3-square:before { content: '\e9bd'; }
.iconsax-maximize-circle:before { content: '\e84b'; }
.iconsax-media-backward:before { content: '\e976'; }
.iconsax-media-backward-10s:before { content: '\ea3a'; }
.iconsax-media-backward-15s:before { content: '\ea8d'; }
.iconsax-media-backward-5s:before { content: '\ea71'; }
.iconsax-media-forward:before { content: '\e861'; }
.iconsax-media-forward-10s:before { content: '\e80b'; }
.iconsax-media-forward-15s:before { content: '\e8a5'; }
.iconsax-media-forward-5s:before { content: '\eb2a'; }
.iconsax-media-next:before { content: '\e8fd'; }
.iconsax-media-previous:before { content: '\e994'; }
.iconsax-media-repeat:before { content: '\eb39'; }
.iconsax-media-repeat-single:before { content: '\eb04'; }
.iconsax-media-sliders-1:before { content: '\eb0b'; }
.iconsax-media-sliders-2:before { content: '\e80f'; }
.iconsax-media-sliders-3:before { content: '\e8a8'; }
.iconsax-menu-4-dots:before { content: '\eb59'; }
.iconsax-menu-meatballs:before { content: '\e939'; }
.iconsax-message-add:before { content: '\e979'; }
.iconsax-message-circle:before { content: '\eadb'; }
.iconsax-message-dash-1:before { content: '\e97c'; }
.iconsax-message-dash-2:before { content: '\eb34'; }
.iconsax-message-dash-add:before { content: '\eac9'; }
.iconsax-message-dash-tick:before { content: '\ea18'; }
.iconsax-message-dash-time:before { content: '\ea51'; }
.iconsax-message-dash-x:before { content: '\e822'; }
.iconsax-message-dots:before { content: '\e989'; }
.iconsax-message-dots-favorite:before { content: '\e98d'; }
.iconsax-message-edit:before { content: '\e8f1'; }
.iconsax-message-minus:before { content: '\e878'; }
.iconsax-message-notif:before { content: '\eb0f'; }
.iconsax-message-search:before { content: '\eb13'; }
.iconsax-message-square:before { content: '\e904'; }
.iconsax-message-text:before { content: '\e998'; }
.iconsax-messages-1:before { content: '\e894'; }
.iconsax-messages-2:before { content: '\e8c9'; }
.iconsax-messages-3:before { content: '\e8a6'; }
.iconsax-messages-4:before { content: '\e97f'; }
.iconsax-mic-1:before { content: '\eae9'; }
.iconsax-mic-2:before { content: '\eac2'; }
.iconsax-mic-slash-1:before { content: '\eb91'; }
.iconsax-mic-slash-2:before { content: '\e87a'; }
.iconsax-milk:before { content: '\eb27'; }
.iconsax-minus:before { content: '\e818'; }
.iconsax-minus-circle:before { content: '\e9a2'; }
.iconsax-minus-square:before { content: '\ea87'; }
.iconsax-mirror:before { content: '\e82c'; }
.iconsax-mobile:before { content: '\e8b7'; }
.iconsax-money-1:before { content: '\e899'; }
.iconsax-money-2:before { content: '\eaaa'; }
.iconsax-money-3:before { content: '\eaae'; }
.iconsax-money-4:before { content: '\ea33'; }
.iconsax-money-5:before { content: '\eaec'; }
.iconsax-money-add:before { content: '\eb5d'; }
.iconsax-money-change:before { content: '\eb36'; }
.iconsax-money-forbidden:before { content: '\ea97'; }
.iconsax-money-in:before { content: '\e843'; }
.iconsax-money-out:before { content: '\e886'; }
.iconsax-money-tick:before { content: '\eb14'; }
.iconsax-money-time:before { content: '\eb40'; }
.iconsax-money-x:before { content: '\e80a'; }
.iconsax-monitor:before { content: '\e819'; }
.iconsax-monitor-message:before { content: '\e8af'; }
.iconsax-monitor-record:before { content: '\e923'; }
.iconsax-moon:before { content: '\e810'; }
.iconsax-more-circle:before { content: '\eb3b'; }
.iconsax-more-square:before { content: '\e94a'; }
.iconsax-mouse:before { content: '\e837'; }
.iconsax-music:before { content: '\eb1e'; }
.iconsax-music-circle-dashed:before { content: '\e811'; }
.iconsax-music-dashboard:before { content: '\ea0d'; }
.iconsax-music-list:before { content: '\eae6'; }
.iconsax-music-multi:before { content: '\e8d0'; }
.iconsax-music-playlist:before { content: '\e93d'; }
.iconsax-music-square-1:before { content: '\ea15'; }
.iconsax-music-square-2:before { content: '\eb3a'; }
.iconsax-music-square-3:before { content: '\e869'; }
.iconsax-music-square-4:before { content: '\e85a'; }
.iconsax-music-square-add:before { content: '\eaf6'; }
.iconsax-music-square-search:before { content: '\eb1d'; }
.iconsax-music-square-x:before { content: '\e833'; }
.iconsax-musicnote:before { content: '\eb7f'; }
.iconsax-not-allowed-1:before { content: '\e932'; }
.iconsax-not-allowed-2:before { content: '\e91e'; }
.iconsax-not-allowed-3:before { content: '\ea4b'; }
.iconsax-note:before { content: '\ea9c'; }
.iconsax-note-add:before { content: '\ea43'; }
.iconsax-note-favorite:before { content: '\eb5e'; }
.iconsax-note-text:before { content: '\ea7a'; }
.iconsax-note-x:before { content: '\e93f'; }
.iconsax-notepad:before { content: '\e82b'; }
.iconsax-notes-1:before { content: '\ea7e'; }
.iconsax-notes-2:before { content: '\ea5f'; }
.iconsax-notif-circle:before { content: '\eb7d'; }
.iconsax-notif-favorite:before { content: '\e9ee'; }
.iconsax-notif-square:before { content: '\eb41'; }
.iconsax-notif-text-square:before { content: '\e808'; }
.iconsax-nut:before { content: '\e997'; }
.iconsax-omega-circle:before { content: '\e873'; }
.iconsax-omega-square:before { content: '\eb18'; }
.iconsax-package:before { content: '\e983'; }
.iconsax-page-with-bookmark-1:before { content: '\e85f'; }
.iconsax-page-with-bookmark-2:before { content: '\ea70'; }
.iconsax-paintbucket-1:before { content: '\eb77'; }
.iconsax-paintbucket-2:before { content: '\e9dd'; }
.iconsax-paintbucket-circle:before { content: '\e972'; }
.iconsax-paintbucket-square:before { content: '\eb15'; }
.iconsax-paperclip-1:before { content: '\e990'; }
.iconsax-paperclip-2:before { content: '\ea38'; }
.iconsax-paperclip-circle:before { content: '\eac1'; }
.iconsax-paperclip-square:before { content: '\e8b5'; }
.iconsax-password-check:before { content: '\eb49'; }
.iconsax-pause:before { content: '\e865'; }
.iconsax-pause-circle:before { content: '\eb7a'; }
.iconsax-pen-path-1:before { content: '\e940'; }
.iconsax-pen-path-2:before { content: '\eadc'; }
.iconsax-pen-tool-1:before { content: '\eb4c'; }
.iconsax-pen-tool-2:before { content: '\eac5'; }
.iconsax-pen-tool-add:before { content: '\ea8c'; }
.iconsax-pen-tool-minus:before { content: '\ea2a'; }
.iconsax-pen-tool-square:before { content: '\e8b2'; }
.iconsax-pen-tool-x:before { content: '\ea1c'; }
.iconsax-percentage-circle:before { content: '\ea88'; }
.iconsax-percentage-square:before { content: '\ead6'; }
.iconsax-person-card:before { content: '\eb47'; }
.iconsax-pet:before { content: '\e8f0'; }
.iconsax-phone:before { content: '\e8ba'; }
.iconsax-phone-add:before { content: '\e857'; }
.iconsax-phone-minus:before { content: '\e862'; }
.iconsax-phone-outgoing:before { content: '\eab8'; }
.iconsax-phone-receive:before { content: '\e8c2'; }
.iconsax-phone-ringing:before { content: '\e9be'; }
.iconsax-phone-slash:before { content: '\ea11'; }
.iconsax-phone-tick:before { content: '\e8d3'; }
.iconsax-phone-x:before { content: '\eb02'; }
.iconsax-picture:before { content: '\e893'; }
.iconsax-picture-1:before { content: '\e96e'; }
.iconsax-picture-add:before { content: '\e94d'; }
.iconsax-picture-download:before { content: '\e834'; }
.iconsax-picture-edit:before { content: '\e8aa'; }
.iconsax-picture-favorite:before { content: '\eb6f'; }
.iconsax-picture-slash:before { content: '\e891'; }
.iconsax-picture-tick:before { content: '\eb4a'; }
.iconsax-picture-upload:before { content: '\e9c8'; }
.iconsax-picture-x:before { content: '\e9eb'; }
.iconsax-pie-chart:before { content: '\e827'; }
.iconsax-play:before { content: '\e977'; }
.iconsax-play-circle:before { content: '\ea6d'; }
.iconsax-play-circle-add:before { content: '\e959'; }
.iconsax-play-circle-dashed:before { content: '\e9bb'; }
.iconsax-play-circle-x:before { content: '\e8ce'; }
.iconsax-play-octagon:before { content: '\e920'; }
.iconsax-play-square:before { content: '\e89d'; }
.iconsax-plug:before { content: '\e8ae'; }
.iconsax-pop-in-circle:before { content: '\ea65'; }
.iconsax-pop-in-square:before { content: '\eb4e'; }
.iconsax-pop-out:before { content: '\e968'; }
.iconsax-pop-out-player:before { content: '\e852'; }
.iconsax-presentation-chart:before { content: '\eacb'; }
.iconsax-printer:before { content: '\e94b'; }
.iconsax-printer-slash:before { content: '\eb78'; }
.iconsax-qr-code:before { content: '\e91b'; }
.iconsax-question-message:before { content: '\ea53'; }
.iconsax-quote-end:before { content: '\eb73'; }
.iconsax-quote-end-circle:before { content: '\e941'; }
.iconsax-quote-end-square:before { content: '\eb0a'; }
.iconsax-quote-start:before { content: '\eb2e'; }
.iconsax-quote-start-circle:before { content: '\eb6b'; }
.iconsax-quote-start-square:before { content: '\e9cb'; }
.iconsax-radar-1:before { content: '\ead2'; }
.iconsax-radar-2:before { content: '\ea60'; }
.iconsax-radar-3:before { content: '\ea9f'; }
.iconsax-radial-chart:before { content: '\ea91'; }
.iconsax-radio:before { content: '\ea49'; }
.iconsax-ram-1:before { content: '\e87c'; }
.iconsax-ram-2:before { content: '\ea50'; }
.iconsax-ranking:before { content: '\ea0b'; }
.iconsax-ranking-1:before { content: '\e9fe'; }
.iconsax-reblog:before { content: '\eaf2'; }
.iconsax-receipt:before { content: '\eb7b'; }
.iconsax-receipt-2:before { content: '\e8f7'; }
.iconsax-receipt-3:before { content: '\e8e3'; }
.iconsax-receipt-4:before { content: '\e938'; }
.iconsax-receipt-add:before { content: '\e9c0'; }
.iconsax-receipt-discount-1:before { content: '\e84c'; }
.iconsax-receipt-discount-2:before { content: '\e956'; }
.iconsax-receipt-edit:before { content: '\e8ad'; }
.iconsax-receipt-list:before { content: '\e8d6'; }
.iconsax-receipt-minus-1:before { content: '\e853'; }
.iconsax-receipt-minus-2:before { content: '\eae3'; }
.iconsax-receipt-search:before { content: '\e872'; }
.iconsax-receipt-square:before { content: '\eaa1'; }
.iconsax-receipt-text:before { content: '\e82f'; }
.iconsax-receive-diagonal-down:before { content: '\eb1f'; }
.iconsax-receive-diagonal-square:before { content: '\ea10'; }
.iconsax-record-circle:before { content: '\e922'; }
.iconsax-recover:before { content: '\e919'; }
.iconsax-redo:before { content: '\e948'; }
.iconsax-redo-square:before { content: '\e8e5'; }
.iconsax-refresh:before { content: '\e803'; }
.iconsax-refresh-circle:before { content: '\eb65'; }
.iconsax-refresh-left-square:before { content: '\e926'; }
.iconsax-refresh-right-square:before { content: '\eb03'; }
.iconsax-refresh-square:before { content: '\eb51'; }
.iconsax-repeat:before { content: '\eb50'; }
.iconsax-repeat-circle:before { content: '\e8bc'; }
.iconsax-retweet:before { content: '\e8c3'; }
.iconsax-rotate-left:before { content: '\eb5b'; }
.iconsax-rotate-right:before { content: '\e85b'; }
.iconsax-route-1:before { content: '\e835'; }
.iconsax-route-2:before { content: '\e9f0'; }
.iconsax-rows-1:before { content: '\ea1d'; }
.iconsax-rows-2:before { content: '\e86b'; }
.iconsax-ruler:before { content: '\ea16'; }
.iconsax-ruler-and-pen:before { content: '\eb63'; }
.iconsax-safebox-1:before { content: '\e8f9'; }
.iconsax-safebox-2:before { content: '\e84d'; }
.iconsax-sagittarius:before { content: '\ea47'; }
.iconsax-scan-1:before { content: '\e9a1'; }
.iconsax-scan-2:before { content: '\e876'; }
.iconsax-scan-3:before { content: '\ea01'; }
.iconsax-scan-4:before { content: '\e813'; }
.iconsax-scissors:before { content: '\ea3f'; }
.iconsax-scissors-square:before { content: '\ea42'; }
.iconsax-scroll-horizontal-square:before { content: '\e95c'; }
.iconsax-search-favorite-1:before { content: '\e823'; }
.iconsax-search-favorite-2:before { content: '\e9a4'; }
.iconsax-search-normal-1:before { content: '\ea23'; }
.iconsax-search-normal-2:before { content: '\e8ac'; }
.iconsax-search-status-1:before { content: '\ea28'; }
.iconsax-search-status-2:before { content: '\eac8'; }
.iconsax-search-zoom-in:before { content: '\eaaf'; }
.iconsax-search-zoom-in-2:before { content: '\eb76'; }
.iconsax-search-zoom-out-1:before { content: '\e844'; }
.iconsax-search-zoom-out-2:before { content: '\e8d1'; }
.iconsax-send-1:before { content: '\e842'; }
.iconsax-send-2:before { content: '\e806'; }
.iconsax-send-diagonal-square:before { content: '\e8be'; }
.iconsax-send-diagonal-up:before { content: '\e965'; }
.iconsax-setting-1:before { content: '\e864'; }
.iconsax-setting-2:before { content: '\e84a'; }
.iconsax-setting-3:before { content: '\e8c8'; }
.iconsax-shapes-1:before { content: '\eb6c'; }
.iconsax-shapes-2:before { content: '\e9e8'; }
.iconsax-share:before { content: '\e89f'; }
.iconsax-shield:before { content: '\e93a'; }
.iconsax-shield-card:before { content: '\e99e'; }
.iconsax-shield-lock:before { content: '\ead0'; }
.iconsax-shield-search:before { content: '\eb68'; }
.iconsax-shield-slash:before { content: '\e85d'; }
.iconsax-shield-tick:before { content: '\ead4'; }
.iconsax-shield-time:before { content: '\e911'; }
.iconsax-shield-user:before { content: '\e841'; }
.iconsax-shield-x:before { content: '\ea5d'; }
.iconsax-ship:before { content: '\ea90'; }
.iconsax-shop:before { content: '\eb25'; }
.iconsax-shop-add:before { content: '\eb81'; }
.iconsax-shop-minus:before { content: '\ea6c'; }
.iconsax-shopping-cart:before { content: '\e83c'; }
.iconsax-shuffle-1:before { content: '\e8fc'; }
.iconsax-shuffle-2:before { content: '\eada'; }
.iconsax-sidebar-left:before { content: '\eb2f'; }
.iconsax-sidebar-right:before { content: '\eaea'; }
.iconsax-signpost:before { content: '\eb0c'; }
.iconsax-simcard-1:before { content: '\e9a5'; }
.iconsax-simcard-2:before { content: '\e8cf'; }
.iconsax-simcards:before { content: '\e95a'; }
.iconsax-size:before { content: '\ea66'; }
.iconsax-slider:before { content: '\e9da'; }
.iconsax-slideshow-horizontal-1:before { content: '\e828'; }
.iconsax-slideshow-horizontal-2:before { content: '\e8c0'; }
.iconsax-slideshow-vertical-1:before { content: '\eab0'; }
.iconsax-slideshow-vertical-2:before { content: '\eb84'; }
.iconsax-smart-car:before { content: '\e962'; }
.iconsax-smart-home:before { content: '\eb90'; }
.iconsax-smileys:before { content: '\eade'; }
.iconsax-snow:before { content: '\e90c'; }
.iconsax-sort:before { content: '\e895'; }
.iconsax-sound:before { content: '\eb64'; }
.iconsax-sound-circle:before { content: '\e885'; }
.iconsax-speaker:before { content: '\e957'; }
.iconsax-speedometer:before { content: '\e9cf'; }
.iconsax-square:before { content: '\ea24'; }
.iconsax-star:before { content: '\eb1a'; }
.iconsax-star-slash:before { content: '\e8e8'; }
.iconsax-star-speed:before { content: '\e910'; }
.iconsax-status:before { content: '\e85c'; }
.iconsax-stickynote:before { content: '\ea08'; }
.iconsax-stickynote-round:before { content: '\e987'; }
.iconsax-stop-circle:before { content: '\ea93'; }
.iconsax-stopwatch:before { content: '\e8d2'; }
.iconsax-stopwatch-pause:before { content: '\ea3e'; }
.iconsax-stopwatch-play:before { content: '\eb6a'; }
.iconsax-story:before { content: '\e98e'; }
.iconsax-subtitles:before { content: '\eb79'; }
.iconsax-sun:before { content: '\eb86'; }
.iconsax-sun-fog:before { content: '\e9b9'; }
.iconsax-swap-horizontal:before { content: '\e8d7'; }
.iconsax-swap-horizontal-circle:before { content: '\e9f4'; }
.iconsax-swap-horizontal-square:before { content: '\eb52'; }
.iconsax-swap-vertical:before { content: '\e9fd'; }
.iconsax-swap-vertical-circle:before { content: '\e9b8'; }
.iconsax-swap-vertical-square:before { content: '\e8ab'; }
.iconsax-tag-1:before { content: '\eafe'; }
.iconsax-tag-2:before { content: '\eb43'; }
.iconsax-task-list:before { content: '\eb83'; }
.iconsax-task-list-square:before { content: '\e86d'; }
.iconsax-teacher:before { content: '\ea2e'; }
.iconsax-telescope:before { content: '\e896'; }
.iconsax-text:before { content: '\e9ae'; }
.iconsax-text-align-center:before { content: '\e92b'; }
.iconsax-text-align-justify-center:before { content: '\eb20'; }
.iconsax-text-align-justify-left:before { content: '\e98c'; }
.iconsax-text-align-justify-right:before { content: '\e8c1'; }
.iconsax-text-align-left:before { content: '\eb70'; }
.iconsax-text-align-right:before { content: '\ea72'; }
.iconsax-text-block:before { content: '\e96f'; }
.iconsax-therefore:before { content: '\e901'; }
.iconsax-tick-circle:before { content: '\e95d'; }
.iconsax-tick-square:before { content: '\eb48'; }
.iconsax-ticket-1:before { content: '\eb08'; }
.iconsax-ticket-2:before { content: '\ea46'; }
.iconsax-ticket-discount:before { content: '\e8cc'; }
.iconsax-ticket-star:before { content: '\eae0'; }
.iconsax-ticket-tear:before { content: '\e9c5'; }
.iconsax-toggle-off-round:before { content: '\e975'; }
.iconsax-toggle-off-square:before { content: '\ea9d'; }
.iconsax-toggle-on-round:before { content: '\eb80'; }
.iconsax-toggle-on-square:before { content: '\eb87'; }
.iconsax-translate:before { content: '\eb3d'; }
.iconsax-trash:before { content: '\e927'; }
.iconsax-trash-square:before { content: '\ea98'; }
.iconsax-tree:before { content: '\e88b'; }
.iconsax-trend-down-square:before { content: '\e851'; }
.iconsax-trend-up:before { content: '\e9fa'; }
.iconsax-triangle:before { content: '\eb88'; }
.iconsax-trophy:before { content: '\e86a'; }
.iconsax-truck:before { content: '\eab7'; }
.iconsax-truck-speed:before { content: '\eaa3'; }
.iconsax-truck-tick:before { content: '\e9a8'; }
.iconsax-truck-time:before { content: '\e8e4'; }
.iconsax-truck-x:before { content: '\e830'; }
.iconsax-tuning-knob:before { content: '\ea48'; }
.iconsax-underline:before { content: '\e935'; }
.iconsax-undo:before { content: '\e892'; }
.iconsax-undo-square:before { content: '\e934'; }
.iconsax-unlock:before { content: '\e8e9'; }
.iconsax-upload-1:before { content: '\e928'; }
.iconsax-upload-2:before { content: '\eb07'; }
.iconsax-upload-square:before { content: '\e8ea'; }
.iconsax-uppercase-lowercase:before { content: '\e9c3'; }
.iconsax-user-1:before { content: '\e8a1'; }
.iconsax-user-1-add:before { content: '\ea5c'; }
.iconsax-user-1-minus:before { content: '\eb4d'; }
.iconsax-user-1-square:before { content: '\eae1'; }
.iconsax-user-1-tag:before { content: '\ea54'; }
.iconsax-user-1-tick:before { content: '\e8b0'; }
.iconsax-user-1-x:before { content: '\eb8f'; }
.iconsax-user-2:before { content: '\eb37'; }
.iconsax-user-2-add:before { content: '\e9d1'; }
.iconsax-user-2-circle:before { content: '\e874'; }
.iconsax-user-2-circle-add:before { content: '\ea31'; }
.iconsax-user-2-edit:before { content: '\e967'; }
.iconsax-user-2-minus:before { content: '\ea3d'; }
.iconsax-user-2-search:before { content: '\e943'; }
.iconsax-user-2-tag:before { content: '\eafd'; }
.iconsax-user-2-tick:before { content: '\eabb'; }
.iconsax-user-2-x:before { content: '\ea0f'; }
.iconsax-user-octagon:before { content: '\e961'; }
.iconsax-users:before { content: '\e958'; }
.iconsax-verify:before { content: '\e96b'; }
.iconsax-video:before { content: '\e890'; }
.iconsax-video-2:before { content: '\e8d8'; }
.iconsax-video-add:before { content: '\e9e0'; }
.iconsax-video-horizontal:before { content: '\e89b'; }
.iconsax-video-slash:before { content: '\e882'; }
.iconsax-video-tick:before { content: '\eabf'; }
.iconsax-video-time:before { content: '\ea09'; }
.iconsax-video-vertical:before { content: '\e88f'; }
.iconsax-video-x:before { content: '\e988'; }
.iconsax-voice-square:before { content: '\ea56'; }
.iconsax-volume-add:before { content: '\e913'; }
.iconsax-volume-high:before { content: '\e8f3'; }
.iconsax-volume-low:before { content: '\e849'; }
.iconsax-volume-minus:before { content: '\e877'; }
.iconsax-volume-mute:before { content: '\e995'; }
.iconsax-volume-slash:before { content: '\e83f'; }
.iconsax-volume-x:before { content: '\ea7f'; }
.iconsax-wallet-1:before { content: '\ea3b'; }
.iconsax-wallet-2:before { content: '\eb23'; }
.iconsax-wallet-3:before { content: '\eaf5'; }
.iconsax-wallet-4:before { content: '\eaf1'; }
.iconsax-wallet-add:before { content: '\e8b8'; }
.iconsax-wallet-add-1:before { content: '\e8f8'; }
.iconsax-wallet-minus:before { content: '\e815'; }
.iconsax-wallet-money:before { content: '\e86e'; }
.iconsax-wallet-open:before { content: '\ea9e'; }
.iconsax-wallet-open-add:before { content: '\e95b'; }
.iconsax-wallet-open-change:before { content: '\ea00'; }
.iconsax-wallet-open-tick:before { content: '\eaa9'; }
.iconsax-wallet-open-time:before { content: '\e9e9'; }
.iconsax-wallet-open-x:before { content: '\e980'; }
.iconsax-wallet-search:before { content: '\eb38'; }
.iconsax-wallet-tick:before { content: '\e9db'; }
.iconsax-wallet-x:before { content: '\e8b3'; }
.iconsax-warning-octagon:before { content: '\eaca'; }
.iconsax-warning-triangle:before { content: '\e908'; }
.iconsax-watch-1:before { content: '\e8c6'; }
.iconsax-watch-2:before { content: '\e9e2'; }
.iconsax-watch-activity:before { content: '\e9c2'; }
.iconsax-weight-scale:before { content: '\e80e'; }
.iconsax-weights:before { content: '\e915'; }
.iconsax-wifi:before { content: '\e9e6'; }
.iconsax-wifi-square:before { content: '\ea52'; }
.iconsax-wind-1:before { content: '\eb5c'; }
.iconsax-wind-2:before { content: '\e8c5'; }
.iconsax-x:before { content: '\eb93'; }
.iconsax-x-circle:before { content: '\ea75'; }
.iconsax-x-square:before { content: '\e871'; }
